Test1/description_monstre.xml

<?xml version="1.0" encoding="utf-8"?>

<xs:schema targetNamespace="http://schemas.mycompany.com/myproduct/version/area"
           xmlns="http://schemas.mycompany.com/myproduct/version/area"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:complexType name="Monstre">
    
    <xs:sequence>
      <xs:element name="Nom" type="xs:string" />
      <xs:element name="Description"  type="xs:string"/>
    </xs:sequence>
   
  </xs:complexType>
  
</xs:schema>